<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BIURI</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/vendor/sweetalert2/dist/sweetalert2.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/styles.css" rel="stylesheet">
    <!-- Hotjar Tracking Code for www.biuri.com.br -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:946097,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

      <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '567095137261762');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=567095137261762&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

      <!--&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122240768-1"></script>-->
    <!--<script>-->
      <!--window.dataLayer = window.dataLayer || [];-->
      <!--function gtag(){dataLayer.push(arguments);}-->
      <!--gtag('js', new Date());-->
      <!--gtag('config', 'UA-122240768-1');-->
    <!--</script>-->
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138214268-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-138214268-1');
    </script>
    <!-- Facebook Pixel Code -->

    <script>

        !function(f,b,e,v,n,t,s)

        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?

        n.callMethod.apply(n,arguments):n.queue.push(arguments)};

        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';

        n.queue=[];t=b.createElement(e);t.async=!0;

        t.src=v;s=b.getElementsByTagName(e)[0];

        s.parentNode.insertBefore(t,s)}(window,document,'script',

        'https://connect.facebook.net/en_US/fbevents.js');


        fbq('init', '380813339428105');

        fbq('track', 'PageView');

    </script>

    <noscript>

        <img height="1" width="1"

        src="https://www.facebook.com/tr?id=380813339428105&ev=PageView

        &noscript=1"/>

    </noscript>

    <!-- End Facebook Pixel Code -->
  </head>

  <body id="page-top" class="profissional">

    <!-- Navigation -->
    <nav class="navbar navbar-toggleable-md" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img src="/static/img/biuri-logo-profissionais-white.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-5">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#como-funciona">Como funciona</a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link js-scroll-trigger" href="#features">Vantagens</a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link js-scroll-trigger" href="#contact">Faça parte</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content" style="max-width: 100%">
              <h1>Faça parte da comunidade Biuri.<br></h1>
              <h2 class="mb-5">Atenda mais clientes, ganhe mais dinheiro,<br> trabalhe em qualquer lugar e horário.<br> Conquiste seus sonhos!</h2>
            </div>
          </div>
          <div class="col-lg-5 my-auto form-signup">
              <form id="form-signup-profissional" role="form" action="{% url 'lead:add_profissional_lead' %}{% if campaign is not None%}?campaign={{campaign}}{%endif%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mx-auto" style="max-width: 315px">
                  <div class="card-block">
                    <h3 class="card-title text-center">Cadastre-se</h3>
                    <div class="card-text">
                        <input type="hidden" id="profissional-id" value="" name="profissional-id" />
                        <div class="form-group">
                           {{ simpleleadform.name }}
                        </div>
                        <div class="form-group">
                          {{ simpleleadform.category }}
                        </div>
                        <div class="form-group">
                          {{ simpleleadform.cpf }}
                        </div>
                        <div class="form-group">
                          {{ simpleleadform.email }}
                        </div>
                        <div class="form-group">
                          {{ simpleleadform.telephone }}
                        </div>
                        <p id="erro" class="text-center" style="font-size: 13px;color: #e83939;"></p>
                    </div>
                    <button  class="btn gradiente btn-block btn-primary" type="submit">Prosseguir</button>
                    <p class="termos">Ao continuar, eu concordo que a Biuri e seus representantes podem entrar em contato comigo por e-mail, telefone ou SMS (inclusive por sistema de discagem telefônica automática) no endereço de e-mail ou número que eu forneci, incluindo para finalidades de marketing. Li e entendo a Declaração de privacidade pertinente.</p>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </header>

    <section class="how-it-works text-center" id="como-funciona">
      <div class="container ">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-header">Como funciona</h2>
            <div class="row badges">
                <div class="col-lg-4">
                  <img src="/static/img/precadastro-profissional-biuri.png">
                  <h4 class="badge-title">Pré-cadastro</h4>
                  <p  class="badge-description">Preencha as suas <br>informações no nosso site</p>
                </div>
                <div class="col-lg-4">
                  <img src="/static/img/validacao-profissional-biuri.png">
                  <h4 class="badge-title">Aguarde a sua Validação</h4>
                  <p  class="badge-description">Validaremos o seu perfil <br>e entraremos em contato</p>
                </div>
                <div class="col-lg-4">
                  <img src="/static/img/profissional-biuri.png">
                  <h4 class="badge-title">Bem vindo à plataforma</h4>
                  <p  class="badge-description">Parabéns! Perfil validado. <br> Agora você faz parte da família Biuri.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features bg-gray" id="features">
      <div class="container">
        <h2 class="section-header">Vantagens</h2>
        <div class="row">
          <div class="col-md-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="feature-item xs-left">
                    <img src="/static/img/biuri-ganhe.png">
                     <h4 class="feature-title">Ganhe dinheiro</h4>
                    <p  class="feature-description">Torne-se uma máquina de fazer $$$</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature-item xs-right">
                    <img src="/static/img/biuri-vitrine.png">
                      <h4 class="feature-title">Vitrine virtual</h4>
                      <p  class="feature-description">Seja conhecido por milhares de pessoas</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="feature-item xs-left">
                      <img src="/static/img/biuri-calendario.png">
                    <h4 class="feature-title">Trabalhe quando quiser</h4>
                    <p  class="feature-description">Faça seu próprio horário</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature-item xs-right">
                    <img src="/static/img/biuri-carreira.png">
                    <h4 class="feature-title">Faça a sua carreira</h4>
                    <p  class="feature-description">Seja o único responsável pelo seu sucesso</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mx-auto">
            <iframe src="https://marvelapp.com/3aa58ha?emb=1" width="100%" height="auto" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <div class="col-sm-6 pull-right text-right">
            <p>Decole conosco, venha fazer parte<br>
                 da família Biuri</p>
            <a href="#contact" class="btn btn-xl btn-success js-scroll-trigger">Cadastre-se</a>
          </div>
        </div>
      </div>
    </section>


    <footer>
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <img class="logo" src="/static/img/biuri-logo-black.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#">Contato</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">Termos de Serviço</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-12">
                  <p class="copyright">Biuri © 2017. Todos os direitos reservados</p>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="links-social">
                      <a href="https://www.facebook.com/biuriapp" target="_blank">
                        <img src="/static/img/icon-facebook-black.png" />
                        Facebook
                      </a>
                      <a  href="https://www.instagram.com/biuriapp" target="_blank">
                          <img src="/static/img/icon-instagram-black.png" />
                          Instagram
                      </a>
                  </div>
                </div>
                <div class="col-md-6 ">
                    <a  href="https://www.google.com.br/maps/place/R.+do+Bom+Jesus,+180+-+Recife,+PE,+50030-170/@-8.0619755,-34.8735442,17z/data=!3m1!4b1!4m5!3m4!1s0x7ab18a37b291253:0x7b41307136373ade!8m2!3d-8.0619808!4d-34.8713555" target="_blank">
                        <!--<p>+ 55 5555 5555</p>-->
                        <p>Rua do Bom Jesus, 180, Recife - PE/Brasil.</p>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>


<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" id="exampleModalLabel">Dados pessoais</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="form-signup-profissional-modal" role="form" action="{% url 'lead:update_profissional_lead' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-body">
          <div class="row">              
              <div class="form-group col-md-4">
                {{ profissionalleadform.name }}
              </div>
              <div class="form-group col-md-4">
                  {{ profissionalleadform.cpf }}
              </div>
              <div class="form-group col-md-4">
                  {{ profissionalleadform.rg }}
              </div>
              <div class="form-group col-md-4">
                  {{ profissionalleadform.birthdate }}
              </div>
              <div class="form-group col-md-4">
                  {{ profissionalleadform.gender }}
              </div>
              <div class="form-group col-md-4">
                  {{ profissionalleadform.civil_status }}
              </div>
              <div class="form-group col-md-4">
                  {{ addressform.postal_code }}
              </div>
              <div class="form-group col-md-4">
                  {{ addressform.address }}
              </div>
              <div class="form-group col-md-4">
                  {{ addressform.number }}
              </div>
              <div class="form-group col-md-4">
                  {{ addressform.complemento }}
              </div>
              <div class="form-group col-md-4">
                  {{ profissionalleadform.telephone }}
              </div>
              <div class="form-group col-md-4">
                  {{ profissionalleadform.celphone }}
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn gradiente">Enviar</button>
        </div>
        </form>
      </div>
    </div>
  </div>


      <script>
        window.onload = function() {
        <!-- Deep link URL for existing users with app already installed on their device -->
        var urlParams = new URLSearchParams(window.location.search); //get all parameters
        var utm_campaign = urlParams.get('utm_campaign'); //extract the foo parameter - this will return NULL if foo isn't a parameter

          if(utm_campaign) { //check if foo parameter is set to anything
              console.log('pixel campaign')
              window.location = "biuri://biuri?pixel=567095137261762";
          }
        <!-- Download URL (TUNE link) for new users to download the app -->
        }
    </script>


    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="/static/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/static/js/main.js"></script>

    <!-- Custom scripts  -->
    <script src="/static/js/home.js"></script>

  </body>

</html>

