//Theme purple
$theme-purple: #93DAE4;
$theme-purple-legal-bg: #fff;
$theme-purple-bar: #93DAE4;
$theme-purple-navbar-brand: #FFF;
$theme-purple-navbar-brand_active: #fff;
$theme-purple-navbar-brand_hover: #fff;
$theme-purple-navbar-brand_focus: #fff;
$theme-purple-nav-anchor: #93DAE4;
$theme-purple-nav-anchor_hover: rgba(0,0,0,0); 
$theme-purple-nav-anchor_focus: rgba(0,0,0,0);
$theme-purple-nav-anchor-opened: rgba(0,0,0,0);
$theme-purple-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-purple-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-purple-menu-list-active: rgba(0,0,0,0);
$theme-purple-menu-list-toggled: rgba(0,0,0,0);
$theme-purple-menu-list-submenu: rgba(0,0,0,0);
 